<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-6">
    <%= render :partial => "shared/categories", locals: {categories: @categories , category_active: @category} %>
  </div>

  <div class="col-md-8" id="stage">
    <% if @product %>
    <div class="page-header text-center">
        <h2><%= @product.category.try(:name) %></h2>
    </div>
    <div class="jumbotron">
      <div class="row">
        <h4><%= @product.name %></h4>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag @product.photo.url(:medium) %>

        </div>
        <div class="col-md-8">
          <div>Product ID : <%= @product.id %></div>
          <div>Price: <span class='price'>¥<%= @product.price %></span></div>
          <div>Date       : <%= @product.created_at.strftime("%d-%B-%Y: %H:%M, %p")%></div>
        </div>
      </div>
      <p class="description"><%= @product.description %></p>
      <a href="/frontends/<%= @product.id %>/add_to_cart" class='btn btn-success add-to-cart'>Buy</a>
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" 
         data-target="#myModal">
         Modal box
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" 
                     data-dismiss="modal" aria-hidden="true">
                        &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                     This Modal title
                  </h4>
               </div>
               <div class="modal-body">
                  Add some text here
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" 
                     data-dismiss="modal">Close
                  </button>
                  <button type="button" class="btn btn-primary">
                     Submit changes
                  </button>
               </div>
            </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <% else %>
      <h1>Product is not found!</h1>
    <% end %>
  </div>
</div>
