<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right cus-link-user">
        <%  if user_signed_in? %>
          <li ><%= link_to current_user.email, '#', class: 'email-link' %></li>
          <li ><%= link_to 'Logout', destroy_user_session_path, confirm: 'Are you sure you want to logout?', method: :delete%></li>
        <%  else %>
          <li> <%= link_to "Login", '#' , class: 'ajax-link', data: {method: 'GET', target: '', url: new_user_session_path}%></li>
          <li><%= link_to "Register", '#', class: 'ajax-link', data: {method: 'GET', target: '', url: new_user_registration_path}%></li>
        <% end %>
      </ul>
      <a href="/" class="navbar-brand app-logo">
        <%= image_tag "/assets/logo.png", size: '335x34' %>
      </a>
    </div>
  </div>
</div>