<div role="navigation" class="navbar navbar-inverse navbar-fixed-top big-nav">
  <div class="container">
    <div class="header">
      <a href="/" class="navbar-brand app-logo">
        <%= image_tag "/assets/logo.png", size: '335x34' %>
      </a>

      <ul class="nav nav-pills pull-right cus-link-user">
        <form method="get" action="/frontends/search" class="search-box pull-left">
          <div class="input-group">
            <input type="text" class="form-control" name="q" value="" placeholder="Search ...">
            <span class="input-group-btn search-btn">
              <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div><!-- /input-group -->
        </form>
        <li class="dropdown pull-left">
          <% counter = Cart.item_count(session[:cart_id]) %>
          <a class="show-cart dropdown-toggle" data-toggle='dropdown' href="/frontends/<%= session[:cart_id] ? session[:cart_id] : 0 %>/show_cart">
            <span class="glyphicon glyphicon-shopping-cart cart-icon-white"></span>
            <span class="badge red-badge"><%= counter if (counter > 0) %></span>
          </a>
          <div class="dropdown-menu" id="box_cart">
            <form>
              <ul></ul>
            </form>
          </div>
        </li>
        <li>
          <a href="#" data-no-turbolinks data-toggle="modal" class="contact-link" 
   data-target="#myModal"><span class="glyphicon glyphicon-phone-alt"></span></a>
        </li>
      <%  if user_signed_in? %>
        <li class="dropdown pull-left">
          <a class="dropdown-toggle" data-toggle='dropdown' href="#"><span class="glyphicon glyphicon-user cart-icon-white"></span></a>
          <ul id="box_user" class="dropdown-menu" >
            <li ><%= link_to current_user.email, '/frontends/profile' %></li>
            <li><%= link_to 'Orders', '/frontends/order'%></li>
            <li ><%= link_to 'Logout', destroy_user_session_path, confirm: 'Are you sure you want to logout?', method: :delete%></li>
          </ul>
        </li>
      <%  else %>
        <li class="dropdown pull-left">
          <a class="dropdown-toggle" data-toggle='dropdown' href="/frontends/profile"><span class="glyphicon glyphicon-user cart-icon-white"></span></a>
          <ul id="box_user" class="dropdown-menu" >
            <li> <%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path%></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" 
                 data-dismiss="modal" aria-hidden="true">
                    &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 Contact us
              </h4>
            </div>
            <div class="modal-body">
              <ul>
                <li>Mobile     : 01696828130</li>
                <li>Home phone : (08) 445343</li>
                <li>Facebook   : vushop.com</li>
                <li>Google +   : vushop.com</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
                 data-dismiss="modal">Close
              </button>
            </div>
          </div><!-- /.modal-content -->
        </div>
      </div><!-- /.modal -->

  </div>
</div>