<div class="row">
  <div class="page-header text-center">
    <h2>Recommended Items</h2>
  </div>
  <% recommended_products.each do |product| %>
    <div class="col-xs-6 col-md-3 cus-thumb">
      <a href="/frontends/<%= product.id%>/product_detail" class="thumbnail">
        <%= image_tag product.photo.url(:thumb), alt: product.name%>

      </a>
      <div class="product-name text-center"><%= truncate(product.name, length: 10) %></div>
    </div>


  <% end %>
</div>

<div class="row">
  <div class="page-header text-center">
    <h2>Newest Items</h2>
  </div>
  <% latest_products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <a href="/frontends/<%= product.id%>/product_detail" class="thumbnail">
        <%= image_tag product.photo.url(:thumb), alt: product.name%>
      </a>
    </div>
  <% end %>
</div>