
<% if cart && cart.line_items.count > 0%>
	<li class="clearfix">
		<input type="hidden" id="tick_counter" name="tick-counter" value="<%= cart.line_items.count %>">
		<div class="name page-header" style="width: 205px;">Name</div>
		<div class="page-header" >Edit</div>
	</li>
	<% cost = 0 %>
  <% cart.line_items.each do |item| %>
    <li class='clearfix'>
    	<div class='name'><%= truncate(item.product.try(:name), length: 12)%></div>
    	<div class='qty clearfix'>
    		<% item.qty %>
    		<input type="number" class="form-control" value="<%= item.qty %>" data-line-item-id="<%= item.id %>" min="1" max="50" step="1" required="true" data-price="<%= item.product.try(:price) %>"/>
    	</div>
    	<div class="glyphicon glyphicon-trash cart-remove-item" data-line-item-id="<%= item.id %>"></div>
    </li>
    <% cost += (item.qty * item.product.price) %>
  <% end %>
  	<li class="divider"></li>
		<li class="dropdown-header pull-right">
			Total : ¥ <span class="total-cost"><%= cost %></span>
		</li>
		<% if !["checkout"].index(params[:action]) %>
		<li class="pull-right">
			<a href="/" class="btn btn-success btn-cart">Continue shopping</a>
			<a href="/frontends/update_cart" class="btn btn-success btn-cart update-cart">Update</a>
			<a href="/frontends/checkout" class="btn btn-success btn-cart">Checkout</a>
		</li>
		<% end %>
<% else %>
		<li><div class="alert alert-warning cus-alert">You don't have any product yet.</div></li>
<% end %>

