
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  	<div class="devise-form">
  		<h3>Sign in</h3>
			<%= semantic_form_for resource, as: resource_name, url: session_path(resource_name) do |f|%>
				<%= f.semantic_errors :state %>
				<%= devise_error_messages! %>
				<%= f.inputs do %>
					<%= f.input :email, placeholder: 'Email' , label: false%>
					<%= f.input :password, placeholder: 'Password' ,label: false%>
					<% if devise_mapping.rememberable? %>
						<%= f.input :remember_me, as: :boolean %>
					<% end %>
					<li><%= f.submit 'Login', class: 'btn btn-success btn-right'%></li>
				<% end %>
			<% end %>
  	</div>
  	<%= render "devise/shared/links" %>
  </div>
</div>
